.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;

}

.error {
  max-width: 360px;
  padding: 24px 8px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  text-align: center;
}

.icon {
  text-align: center;
}