.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f0f0f;
  width: 100vw;
  height: 56px;
  border-bottom: 1px solid #000;
}
.logo {
  flex-grow: 1;
}
.nav-list {
  display: flex;
  list-style-type: none;
}
.nav-list-item {
  border-radius: 8px;
  padding: 6px 24px;
}

.nav-list-item a {
  text-decoration: none;
  padding: 6px 12px;
  color: #f1f1f1;
  background-color: #0f0f0f;
  border-radius: 8px;
}

.nav-list-item a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-list-item a.active {
  background-color: #f1f1f1;
  border-radius: 8px;
  color: #0f0f0f;
}
