.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  margin-top: 25px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  padding-left: 35px;
  color: hsla(0, 100%, 100%, 0.88);
  box-shadow: 2px 3px 28px 1px rgba(0, 0, 0, 0.1);
  background-color: hsla(0, 0%, 100%, 0.08);
  border: 1px solid hsl(0, 0%, 18.82%);
  border-right: none;
  border-radius: 40px 0 0 40px;
  height: 44px;
  font-family: Roboto, Noto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  width: 320px;
  max-width: 540px;
}

.search-button {
  cursor: pointer;
  height: 44px;
  border: 1px solid hsl(0, 0%, 18.82%);
  border-radius: 0 40px 40px 0;
  width: 64px;
  background-color: hsl(0, 0%, 18.82%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.loop {
  width: 24px;
  height: 24px;
  color: #f1f1f1
}